extends layout
block body-content
    div#content
        h3 My account is disabled, is there anything I can do?
        p
          | If you are having any problems with your account you'll have to join #disabled on the IRC network.
          | This also includes other problems with your account, not just disabled accounts.

        h3 How do I connect to the IRC network?
        p
          | You'll have to use an IRC client and connect to irc.apollo.rip. The port is 6667 or +7000
          | if you are using SSL.

        h3 My registration/activation/password reset mail isn't arriving
        p
          | Currently, our email servers are down, ask your inviter for a direct link. In case of a password reset,
          | please join #disabled on our IRC network.

        h3 How can I get invited to the site?
        p
          | Head over to #[a(href="https://interview.apollo.rip") interview.apollo.rip] and read the instructions.

        h3 How do I join IRC? The Java Applet / Mibbit isn't working.
        p
          | Use a real IRC client:
          h4 Mac
          ul.faq-list
            li Textual
            li Colloquy
            li irssi
            li weechat

          h4 Linux
          ul.faq-list
            li Hexchat
            li irssi
            li weechat

          h4 Windows
          ul.faq-list
            li Hexchat
            li irssi
            li mIRC

        h3 Credits
        p
          | This site is based on
          | #[a(href="https://github.com/dewey/WhatStatus") https://github.com/dewey/WhatStatus]





